:root {
    --primery-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primery-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --main-border-color: #ececec;
    --hero-color: #2f303a;
    --social-svg-color: #afb1b8;
    --advantage-bg-color: #f5f4fa;
    --client-color: #afb1b8;
    --footer-linf-social: rgba(255, 255, 255, 0.1);
    --overlay-background: rgba(33, 150, 243, 0.9);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}