.footer {
  background-color: var(--hero-color);
  padding: 60px 0;

  &__flatmates {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    @include font(26px, 700, 1.2, 0.03em);

    margin-bottom: 20px;
    display: block;
    font-family: "Raleway";
    color: var(--primery-background-color);
    text-decoration: none;
    &--web {
      color: var(--accent-color);
    }
  }
}
.address {
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    @include font(14px, 400, 1.7, 0.03em);

    font-style: normal;
    color: var(--primery-background-color);
    text-decoration: none;
    display: block;
    transition: color var(--transition-timing-function)
      var(--transition-duration);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contact {
    @include font(14px, 400, 1.7, 0.03);

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

/* FOOTER SOCIAL */

.footer-join {
  margin-left: 70px;

  &__title {
    @include font(14px, 700, 1.1, 0.03em);

    color: var(--primery-background-color);
    height: 16px;
    text-transform: uppercase;
  }
}

.footer-social {
  display: flex;
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @include size(44px, 44px);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-linf-social);
    border-radius: 50%;
    transition: background-color var(--transition-timing-function)
      var(--transition-duration);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    @include size(20px, 20px);

    fill: var(--primery-background-color);
    display: flex;
  }
}

/* footer form */

.footer-form {
  margin-left: 93px;
  color: var(--advantage-bg-color);

  &__title {
    @include font(14px, 700, 1.1, 0.03em);

    color: var(--primery-background-color);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__input {
    @include size(358px, 50px);

    background: var(--hero-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    display: block;
    margin-right: 12px;
    padding: 15px;
    color: var(--primery-background-color);
  }

  &__button {
    @include font(16px, 700, 1.9, 0.06em);
    @include size(200px, 50px);

    position: relative;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-items: center;
    text-align: center;
    color: var(--primery-background-color);
    padding-right: 28px;
    cursor: pointer;
    &:hover,
    &:focus {
      background: rgba(24, 140, 232, 1);
    }
  }

  &__icon-button {
    @include size(24px, 24px);

    position: absolute;
    top: 13px;
    right: 28px;
  }
}
