.header {
  border-bottom: 1px solid var(--main-border-color);
  display: flex;
  align-items: center;

  &__logo {
    @include font(26px, 700, 1.6, 0.03em);
    margin-right: 93px;
    display: block;
    font-family: "Raleway", sans-serif;
    color: var(--secondary-text-color);

    text-decoration: none;

    &--web {
      color: var(--accent-color);
    }
  }
}

.navigation {
  display: flex;
  align-items: baseline;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list .current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.navigation__item .current::after {
  @include size(100%, 4px);
  position: absolute;
  display: block;
  content: "";

  bottom: -1px;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  padding: 30px 3px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.--current {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__item:not(:first-child) {
  margin-left: 50px;
}

.header-contact__link {
  @include font(14px, 500, 1.1, 0.02em);

  padding: 15px;
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__icon {
  fill: currentColor;
  width: 16px;
  margin-right: 10px;
}
